@font-face {
    font-family: "Dancing in the Rainbow";
    src: url("../fonts/Dancing in the Rainbow.eot"); /* IE9 */
    src: url("../fonts/Dancing in the Rainbow.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Dancing in the Rainbow.woff") format("woff"), /* chrome, firefox */
    url("../fonts/Dancing in the Rainbow.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/Dancing in the Rainbow.svg#Dancing in the Rainbow") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


