@font-face {
    font-family: "logoFont";
    src: url("../fonts/logoFont.eot"); /* IE9 */
    src: url("../fonts/logoFont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/logoFont.woff") format("woff"), /* chrome, firefox */
    url("../fonts/logoFont.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/logoFont.svg#logoFont") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


