// font faces
$body-font = Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif
$code-font = 'Roboto Mono', Monaco, courier, monospace

// font sizes
$body-font-size = 15px
$body-font-color = #262626

// colors
$dark   = #2B3340
$white  = #FBFBFB
$clearWhite = #fff
$gray= #B0AFA8
$light  = #7f8c8d
$green  = #009688
$yellow = #f3b967
$border = #ececec
$grey   = #F3F3F3
$codebg = #f8f8f8
$red = #ff6666
$black = #4a4a4a
$blue = #1976D2
