 .editor-preview-side 
  line-height 1.5
  color #24292e
  font-family -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size 16px
  line-height 1.5
  word-wrap break-word
  .pl-c 
    color #969896
  .pl-ent 
    color #63a35c
  .pl-k 
    color #a71d5d
  .pl-bu 
    color #b52a1d
  .pl-ii 
    color #f8f8f8
    background-color #b52a1d
  .pl-c2 
    color #f8f8f8
    background-color #b52a1d
    &::before 
      content "^M"
  .pl-sr 
    .pl-cce 
      font-weight bold
      color #63a35c
  .pl-ml 
    color #693a17
  .pl-mq 
    color #008080
  .pl-mi 
    font-style italic
    color #333
  .pl-mb 
    font-weight bold
    color #333
  .pl-md 
    color #bd2c00
    background-color #ffecec
  .pl-mi1 
    color #55a532
    background-color #eaffea
  .pl-mc 
    color #ef9700
    background-color #ffe3b4
  .pl-mi2 
    color #d8d8d8
    background-color #808080
  .pl-mdr 
    font-weight bold
    color #795da3
  .pl-mo 
    color #1d3e81
  .pl-ba 
    color #595e62
  .pl-sg 
    color #c0c0c0
  .pl-corl 
    text-decoration underline
    color #183691
  .octicon 
    display inline-block
    vertical-align text-top
    fill currentColor
    vertical-align text-bottom
  a 
    background-color transparent
    color #0366d6
    text-decoration none
    &:hover 
      text-decoration underline
    &:not([href]) 
      color inherit
      text-decoration none
  strong 
    font-weight inherit
    font-weight bolder
    font-weight 600
  h1 
    font-size 2em
    margin 0.67em 0
    font-size 32px
    font-weight 600
    padding-bottom 0.3em
    font-size 2em
    border-bottom 1px solid #eaecef
  img 
    border-style none
    max-width 100%
    box-sizing content-box
    background-color #fff
  svg 
    &:not(:root) 
      overflow hidden
  hr 
    box-sizing content-box
    height 0
    overflow visible
    height 0
    margin 15px 0
    overflow hidden
    background transparent
    border 0
    border-bottom 1px solid #dfe2e5
    height 0.25em
    padding 0
    margin 24px 0
    background-color #e1e4e8
    border 0
    border-bottom-color #eee
    &::before 
      display table
      content ""
    &::after 
      display table
      clear both
      content ""
  input 
    font inherit
    margin 0
    overflow visible
    font-family inherit
    font-size inherit
    line-height inherit
  [type="checkbox"] 
    box-sizing border-box
    padding 0
  * 
    box-sizing border-box
  table 
    border-spacing 0
    border-collapse collapse
    display block
    width 100%
    overflow auto
    th 
      font-weight 600
    tr 
      background-color #fff
      border-top 1px solid #c6cbd1
      &:nth-child(2n) 
        background-color #f6f8fa
  h2 
    font-size 24px
    font-weight 600
    padding-bottom 0.3em
    font-size 1.5em
    border-bottom 1px solid #eaecef
  h3 
    font-size 20px
    font-weight 600
    font-size 1.25em
  h4 
    font-size 16px
    font-weight 600
    font-size 1em
  h5 
    font-size 14px
    font-weight 600
    font-size 0.875em
  h6 
    font-size 12px
    font-weight 600
    font-size 0.85em
    color #6a737d
  p 
    margin-top 0
    margin-bottom 10px
  blockquote 
    margin 0
    padding 0 1em
    color #6a737d
    border-left 0.25em solid #dfe2e5
    & > :first-child 
      margin-top 0
    & > :last-child 
      margin-bottom 0
  dd 
    margin-left 0
  code 
    font-family "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
    font-size 12px
    padding 0
    padding-top 0.2em
    padding-bottom 0.2em
    margin 0
    font-size 85%
    background-color rgba(27,31,35,0.05)
    border-radius 3px
  pre 
    margin-top 0
    margin-bottom 0
    font 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
    word-wrap normal
    & > code 
      padding 0
      margin 0
      font-size 100%
      word-break normal
      white-space pre
      background transparent
      border 0
    code 
      display inline
      max-width auto
      padding 0
      margin 0
      overflow visible
      line-height inherit
      word-wrap normal
      background-color transparent
      border 0
  .pl-0 
    padding-left 0 !important
  .pl-1 
    padding-left 4px !important
  .pl-2 
    padding-left 8px !important
  .pl-3 
    padding-left 16px !important
  .pl-4 
    padding-left 24px !important
  .pl-5 
    padding-left 32px !important
  .pl-6 
    padding-left 40px !important
  &::before 
    display table
    content ""
  &::after 
    display table
    clear both
    content ""
  & > *:first-child 
    margin-top 0 !important
  & > *:last-child 
    margin-bottom 0 !important
  .anchor 
    float left
    padding-right 4px
    margin-left -20px
    line-height 1
    &:focus 
      outline none
  kbd 
    display inline-block
    padding 3px 5px
    font-size 11px
    line-height 10px
    color #444d56
    vertical-align middle
    background-color #fafbfc
    border solid 1px #c6cbd1
    border-bottom-color #959da5
    border-radius 3px
    box-shadow inset 0 -1px 0 #959da5
    display inline-block
    padding 3px 5px
    font 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
    line-height 10px
    color #444d56
    vertical-align middle
    background-color #fcfcfc
    border solid 1px #c6cbd1
    border-bottom-color #959da5
    border-radius 3px
    box-shadow inset 0 -1px 0 #959da5
  li 
    & > p 
      margin-top 16px
    & + li 
      margin-top 0.25em
  dl 
    padding 0
    dt 
      padding 0
      margin-top 16px
      font-size 1em
      font-style italic
      font-weight 600
    dd 
      padding 0 16px
      margin-bottom 16px
  .highlight 
    margin-bottom 16px
    pre 
      margin-bottom 0
      word-break normal
  .full-commit 
    .btn-outline 
      &:not(:disabled):hover 
        color #005cc5
        border-color #005cc5
  :checked 
    & + .radio-label 
      position relative
      z-index 1
      border-color #0366d6
  .task-list-item 
    list-style-type none
    & + .task-list-item 
      margin-top 3px
    input 
      margin 0 0.2em 0.25em -1.6em
      vertical-align middle
 .editor-preview-side .pl-c1,
 .editor-preview-side .pl-s .pl-v 
  color #0086b3
 .editor-preview-side .pl-e,
 .editor-preview-side .pl-en 
  color #795da3
 .editor-preview-side .pl-smi,
 .editor-preview-side .pl-s .pl-s1 
  color #333
 .editor-preview-side .pl-s,
 .editor-preview-side .pl-pds,
 .editor-preview-side .pl-s .pl-pse .pl-s1,
 .editor-preview-side .pl-sr,
 .editor-preview-side .pl-sr .pl-cce,
 .editor-preview-side .pl-sr .pl-sre,
 .editor-preview-side .pl-sr .pl-sra 
  color #183691
 .editor-preview-side .pl-v,
 .editor-preview-side .pl-smw 
  color #ed6a43
 .editor-preview-side .pl-mh,
 .editor-preview-side .pl-mh .pl-en,
 .editor-preview-side .pl-ms 
  font-weight bold
  color #1d3e81
 .editor-preview-side a:active,
 .editor-preview-side a:hover 
  outline-width 0
 .editor-preview-side code,
 .editor-preview-side kbd,
 .editor-preview-side pre 
  font-family monospace, monospace
  font-size 1em
 .editor-preview-side td,
 .editor-preview-side th 
  padding 0
 .editor-preview-side h1,
 .editor-preview-side h2,
 .editor-preview-side h3,
 .editor-preview-side h4,
 .editor-preview-side h5,
 .editor-preview-side h6 
  margin-top 0
  margin-bottom 0
  margin-top 24px
  margin-bottom 16px
  font-weight 600
  line-height 1.25
 .editor-preview-side ul,
 .editor-preview-side ol 
  padding-left 0
  margin-top 0
  margin-bottom 0
  padding-left 2em
 .editor-preview-side ol ol,
 .editor-preview-side ul ol 
  list-style-type lower-roman
 .editor-preview-side ul ul ol,
 .editor-preview-side ul ol ol,
 .editor-preview-side ol ul ol,
 .editor-preview-side ol ol ol 
  list-style-type lower-alpha
 .editor-preview-side p,
 .editor-preview-side blockquote,
 .editor-preview-side ul,
 .editor-preview-side ol,
 .editor-preview-side dl,
 .editor-preview-side table,
 .editor-preview-side pre 
  margin-top 0
  margin-bottom 16px
 .editor-preview-side h1 .octicon-link,
 .editor-preview-side h2 .octicon-link,
 .editor-preview-side h3 .octicon-link,
 .editor-preview-side h4 .octicon-link,
 .editor-preview-side h5 .octicon-link,
 .editor-preview-side h6 .octicon-link 
  color #1b1f23
  vertical-align middle
  visibility hidden
 .editor-preview-side h1:hover .anchor,
 .editor-preview-side h2:hover .anchor,
 .editor-preview-side h3:hover .anchor,
 .editor-preview-side h4:hover .anchor,
 .editor-preview-side h5:hover .anchor,
 .editor-preview-side h6:hover .anchor 
  text-decoration none
 .editor-preview-side h1:hover .anchor .octicon-link,
 .editor-preview-side h2:hover .anchor .octicon-link,
 .editor-preview-side h3:hover .anchor .octicon-link,
 .editor-preview-side h4:hover .anchor .octicon-link,
 .editor-preview-side h5:hover .anchor .octicon-link,
 .editor-preview-side h6:hover .anchor .octicon-link 
  visibility visible
 .editor-preview-side ul ul,
 .editor-preview-side ul ol,
 .editor-preview-side ol ol,
 .editor-preview-side ol ul 
  margin-top 0
  margin-bottom 0
 .editor-preview-side table th,
 .editor-preview-side table td 
  padding 6px 13px
  border 1px solid #dfe2e5
 .editor-preview-side code::before,
 .editor-preview-side code::after 
  letter-spacing -0.2em
 .editor-preview-side .highlight pre,
 .editor-preview-side pre 
  padding 16px
  overflow auto
  font-size 85%
  line-height 1.45
  background-color #F2F3F1
  color: #6e6b5e
  border-radius 3px
 .editor-preview-side pre code::before,
 .editor-preview-side pre code::after 
  content normal
