.cloud-tag-del
    position: absolute;
    display: block;
    font-size: 20px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    right: -15px;
    top: -15px;
.cloud-tag
    cursor: pointer;
		